<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login| Usiu Africa Counselling Department</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <script type="module">
        
    </script>

</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='USIU Logo.png') }}" alt="Usiu Logo" id="logo">
        <h2 class ="yellowtext "id="header">USIU COUNSELLING DEPARTMENT</h2>
    
    </header>
    <div class="container">
        <!-- Sidebar -->
        <nav class="sidebar" id="sidebar">

            <img src="{{ url_for('static', filename='boy.png') }}" alt="user" id="user">
            <h2 class ="yellowtext "id="username">Sharon Kairu</h2>

            <ul>
                <li><a href="/admin" class="active"><span class="icon"><i class='bx bx-home'></i></span><span class="text"> Home</span></a></li>
                <li><a href="/add_a_member"><span class="icon"><i class='bx bx-leaf'></i></span><span class="text"> Add a member</span></a></li>
                <li><a href="/remove_a_member"><span class="icon"><i class='bx bx-list-ul'></i></span><span class="text"> Remove a member</span></a></li>
            </ul>

            <h3 class ="yellowtext "id="profilechange">Change user details</h3>
        </nav>
    </div>

    

   
</body>
</html>
